// Sinatra SASS Configuration
// Shared variables for customizer controls.

$color_1:             #0085ba; // WordPress admin accent
$color_3:             #23282d; // Admin body text
$color_5:             #ffffff; // White background
$body_color:          #ddd;
$admin_border_color:  #ddd;
$border_radius:       3px;
