/*****************************************/
/* Customizer button control style
/*****************************************/
.sinatra-button-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.sinatra-button-wrapper .sinatra-control-heading {
  margin-right: auto;
}
.sinatra-button-wrapper .button {
  padding-left: 10px;
  box-sizing: border-box;
  align-items: center;
}
.sinatra-button-wrapper .customize-control-title {
  margin-bottom: 0;
}